body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
#conteiner {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #333;
}
#pokemon-info {
  margin-top: 20px;
}

#search-conteiner {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-conteiner input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex: 1;
  max-width: 300px;
  margin-right: 10px;
}

#search-conteiner button {
  padding: 9px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-conteiner button:hover {
  background-color: #45a849;
}

#pokemon-image {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}
#pokemon-info {
  text-align: left;
}
h2,
h3,
p {
  margin: 5px 0;
}
#pokmeon-type {
    margin-bottom: 10px;
    font-weight: bold;
}
#pokemon-abilities {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#pokemon-abilities li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 6px 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
}